<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p><a href="/sivu1">sivu1</a> | <a href="/logout">logout</a></p>
  <h1><%= title %></h1>
  <ul>
  <% students.forEach(function (oppilas) { %>
    <li>
        <h3><%= oppilas.name %></h1>
          <ul>
            <li>ID: <%= oppilas._id %></li>
            <li>Student code: <%= oppilas.student_code %></li>
            <li>Email: <%= oppilas.email %></li>
            <li>Study points: <%= oppilas.study_points %></li>
            <li>Grades:</li>
            <ul>
            <% oppilas.grades.forEach(function (arvosana) { %>
              <li> <%= arvosana.course_code %>, <%=arvosana.grade%> </li>
            <% }) %>
            </ul>
          </ul>

    </li>
<% }) %>
</ul>
</body>

</html>
